[submodule ".registry"]
	path = .registry
	url = https://github.com/stscl/stscl.r-universe.dev
	branch = HEAD
[submodule "GWmodel3"]
	path = GWmodel3
	url = https://github.com/GWmodel-Lab/GWmodel3
	registered = false
[submodule "cisp"]
	path = cisp
	url = https://github.com/stscl/cisp
[submodule "gdverse"]
	path = gdverse
	url = https://github.com/stscl/gdverse
[submodule "geocn"]
	path = geocn
	url = https://github.com/stscl/geocn
[submodule "itmsa"]
	path = itmsa
	url = https://github.com/stscl/itmsa
[submodule "sdsfun"]
	path = sdsfun
	url = https://github.com/stscl/sdsfun
[submodule "sesp"]
	path = sesp
	url = https://github.com/stscl/sesp
[submodule "spEDM"]
	path = spEDM
	url = https://github.com/stscl/spEDM
[submodule "sshicm"]
	path = sshicm
	url = https://github.com/stscl/sshicm
