[submodule ".registry"]
	path = .registry
	url = https://github.com/stscl/stscl.r-universe.dev
	branch = HEAD
[submodule "gdverse"]
	path = gdverse
	url = https://github.com/stscl/gdverse
[submodule "geocn"]
	path = geocn
	url = https://github.com/stscl/geocn
[submodule "sdsfun"]
	path = sdsfun
	url = https://github.com/stscl/sdsfun
